/* ==========================================================================
   ITCSS ARCHITECTURE
   ========================================================================== */
/* ==========================================================================
   #SETTINGS
   Design tokens, variables, config switches
   ========================================================================== */
/* ==========================================================================
   #TOOLS
   Mixins and functions
   ========================================================================== */
/* ==========================================================================
   #GENERIC
   Ground-zero styles (normalize, reset)
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* ==========================================================================
   #ELEMENTS
   Unclassed HTML elements
   ========================================================================== */
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #f5f5f5;
  line-height: 1.6;
  color: #092a4a;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

input {
  font-family: inherit;
  border: none;
  outline: none;
}

/* ==========================================================================
   #OBJECTS
   Class-based selectors for design patterns, layout primitives
   ========================================================================== */
.wrapper {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  padding-top: 49px;
}

/* ==========================================================================
   #COMPONENTS
   Specific UI components (BEM)
   ========================================================================== */
/* Logo Component
   ========================================================================== */
section {
  width: 1200px;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  position: relative;
}

.icon.icon--star.icon--star-small {
  width: 87px;
  height: 94px;
  display: block;
  position: absolute;
  margin-left: -53px;
  margin-top: -25px;
}
@media (max-width: 1279px) {
  .icon.icon--star.icon--star-small {
    width: 58px;
    height: 64px;
    margin-left: -23px;
    margin-top: -20px;
  }
}
@media (max-width: 767px) {
  .icon.icon--star.icon--star-small {
    width: 35.31px;
    height: 35.31px;
    margin-left: 0;
    margin-top: -6px;
  }
}

.icon--star.icon--top-right {
  position: absolute;
  width: 141px;
  height: 152px;
  transform: rotate(-2.731deg);
  top: -42px;
  right: -32px;
}
@media (max-width: 1279px) {
  .icon--star.icon--top-right {
    width: 70px;
    height: 75px;
    top: 0;
    right: -10px;
  }
}

.desktop .book__image {
  max-width: none;
  position: absolute;
  top: 0;
  height: 678px;
}
.page-thank-you .desktop .book__image {
  top: auto;
  bottom: -70px;
  height: 700px;
}

/* Hero Component
   ========================================================================== */
.hero {
  background: radial-gradient(circle at 70% 120%, rgb(202, 111, 201) 0%, rgb(140, 106, 171) 25.962%, rgb(108, 104, 155) 38.942%, rgb(77, 102, 140) 51.923%, rgb(43, 72, 107) 75.962%, rgb(26, 57, 90) 87.981%, rgb(9, 42, 74) 100%);
  border-radius: 29px 100px 29px 29px;
  padding: 0 80px;
  margin-bottom: 50px;
  position: relative;
  z-index: 2;
}
.hero__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__content {
  display: flex;
  align-items: flex-start;
}
.hero__text {
  padding-top: 153px;
  padding-bottom: 106px;
  width: 614px;
}
.page-thank-you .hero__text {
  width: 550px;
  padding-top: 260px;
  padding-bottom: 154px;
}
.hero__title {
  color: #ffffff;
  font-family: "Barlow Semi Condensed";
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: 54px; /* 100% */
  margin-bottom: 25px;
}
.hero__subtitle {
  color: #ffffff;
  font-family: "Barlow Semi Condensed";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 123.077% */
}
.page-thank-you .hero__subtitle {
  width: 500px;
  max-width: 100%;
}
.hero__subtitle strong {
  font-weight: 700;
}
.hero__subtitle p + p {
  margin-top: 19px;
}
.page-thank-you .hero__subtitle p + p {
  max-width: 540px;
}
.hero .subtitle-wrap + div > form {
  margin-top: 37px;
}
.desktop .hero .book {
  text-align: right;
  position: relative;
  margin-top: 28px;
  flex: 1;
}
.hero__logo {
  position: absolute;
  top: 36px;
  left: 47px;
  height: 38px;
  width: 124px;
  display: block;
}
@media (max-width: 1279px) {
  .hero__text {
    padding-top: 122px;
    padding-bottom: 40px;
    width: 100% !important;
  }
  .page-thank-you .hero__text {
    padding-top: 122px;
    padding-bottom: 0;
  }
  .hero__logo {
    top: 21px;
    left: 28px;
  }
  .hero .subtitle-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .hero .subtitle-wrap .hero__subtitle {
    max-width: 640px;
    flex: 1;
  }
  .hero .subtitle-wrap .hero__subtitle + .tablet {
    flex: 1;
  }
  .hero .subtitle-wrap + div > form {
    margin: -48px auto 0;
  }
  .hero .subtitle-wrap + div > form .form__group {
    justify-content: center;
  }
  .hero .subtitle-wrap + div > form .form__note {
    text-align: center;
  }
  .hero .subtitle-wrap .book {
    position: relative;
    width: 100%;
    aspect-ratio: 300/511;
    top: -30px;
  }
  .page-thank-you .hero .subtitle-wrap .book {
    margin-bottom: -100px;
  }
  .hero .subtitle-wrap .book img {
    position: absolute;
    height: 100%;
    width: auto;
    max-width: none;
    top: 0;
    bottom: 0;
  }
}
@media (max-width: 767px) {
  .hero__logo {
    top: 17px;
    left: 25px;
    width: 97px;
    height: 30px;
  }
  .hero__text {
    padding-top: 84px;
    padding-bottom: 34px;
  }
  .hero__title {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 100% */
  }
  .hero__title br {
    display: none;
  }
  .hero__subtitle {
    font-family: "Barlow Semi Condensed";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .hero .subtitle-wrap {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .hero .subtitle-wrap + div > form {
    margin-top: 0;
  }
  .hero .subtitle-wrap .hero__subtitle + .tablet {
    overflow: visible;
    height: 400px;
    position: relative;
    margin: 0 auto;
    flex: 0 0 260px;
  }
  .hero .subtitle-wrap .hero__subtitle + .tablet .book {
    position: absolute;
    top: 0;
    aspect-ratio: auto;
    height: 100%;
  }
}

/* Section Component
   ========================================================================== */
.section {
  border-radius: 29px;
  padding: 80px 80px 44px;
  margin-bottom: 50px;
}
.section--white {
  background: #ffffff;
}
.section--purple {
  background: radial-gradient(circle at 70% 120%, rgb(202, 111, 201) 0%, rgb(140, 106, 171) 25.962%, rgb(108, 104, 155) 38.942%, rgb(77, 102, 140) 51.923%, rgb(43, 72, 107) 75.962%, rgb(26, 57, 90) 87.981%, rgb(9, 42, 74) 100%);
  border-radius: 29px 100px 29px 29px;
  position: relative;
}
.section--assessment {
  padding: 45px 40px 33px;
}
@media (max-width: 1279px) {
  .section--assessment .section__title,
  .section--assessment .feature__title {
    font-size: 46px;
    font-style: normal;
    font-weight: 500;
    line-height: 49px; /* 106.522% */
  }
  .section--assessment .section__text,
  .section--assessment .feature__text {
    font-size: 20px;
    line-height: 24px; /* 120% */
  }
  .section--assessment .section-grid,
  .section--assessment .feature-grid {
    gap: 5px;
  }
  .section--assessment .benefit-list__item {
    font-size: 20px;
    line-height: 24px; /* 120% */
    padding-bottom: 15px;
  }
}
@media (max-width: 991px) {
  .section--assessment .assessment__benefits {
    padding: 35px 20px 20px;
  }
  .section--assessment button.button.button--primary.button--icon {
    display: none;
  }
  .section--assessment .feature {
    justify-content: left;
  }
  .section--assessment .section__title,
  .section--assessment .feature__title {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 100% */
    text-align: left;
  }
  .section--assessment .section__title br,
  .section--assessment .feature__title br {
    display: none;
  }
}
.section__content {
  display: flex;
  align-items: flex-start;
}
.section__text {
  width: 614px;
}
.section .book {
  position: relative;
  top: 137px;
}
.section--final {
  padding-bottom: 77px;
  padding-top: 90px;
}
.section--final .section__title {
  text-indent: 40px;
  margin-bottom: 10px;
}
.section--final .section__subtitle {
  margin-bottom: 24px;
}
.section--final .section__text {
  width: 717px;
}
.section--final .book {
  top: -61px;
}
.section--final .book__image {
  height: 439px;
  max-width: none;
  position: absolute;
  top: 0;
}
.section--final .title-book__wrap + div {
  display: none !important;
}
@media (max-width: 1279px) {
  .section--final {
    flex-wrap: wrap;
  }
  .section--final .section__title {
    font-size: 46px;
    font-style: normal;
    font-weight: 500;
    line-height: 49px; /* 106.522% */
  }
  .section--final .section__text {
    font-size: 20px;
    line-height: 24px; /* 120% */
    flex: 1;
    max-width: 65%;
  }
  .section--final .book__image {
    height: 389px;
  }
}
@media (max-width: 991px) {
  .section--final {
    padding-top: 62px;
    padding-bottom: 52px;
  }
  .section--final .book__image {
    height: 339px;
    top: 30px;
  }
}
@media (max-width: 767px) {
  .section--final .section__title {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 100% */
  }
  .section--final .section__subtitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
  }
  .section--final .section__text {
    max-width: 100%;
  }
  .section--final .section__text br {
    display: none;
  }
  .section--final .title-book {
    display: flex;
    flex-wrap: wrap;
  }
  .section--final .title-book__wrap {
    flex: 1;
  }
  .section--final .title-book__wrap + div {
    display: block !important;
    width: 30vw;
  }
  .section--final .title-book__wrap + div .book {
    height: 50vw;
    top: auto;
  }
  .section--final .title-book__wrap + div .book__image {
    height: 100%;
    top: -10px;
  }
  .section--final .section__text + div {
    display: none !important;
  }
  .section--final .form__group {
    justify-content: center;
  }
  .section--final .form__note {
    text-align: center;
  }
}
.section--assessment .section__title {
  margin-bottom: 14px;
}
.section__decoration {
  text-align: right;
}
.section__title {
  color: #092a4a;
  font-family: "Barlow Semi Condensed";
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  line-height: 49px; /* 106.522% */
  /* remove line-height top gap */
  position: relative;
  top: -9px;
  margin-bottom: 60px;
}
.section__title--center {
  text-align: center;
}
.section--faq .section__title {
  margin-bottom: 20px;
}
.section__title--light {
  color: #ffffff;
}
.section__title--large {
  color: #ffffff;
  font-family: "Barlow Semi Condensed";
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px; /* 100% */
}
.section__subtitle {
  font-size: 1.5rem;
}
.section__subtitle--light {
  color: #ffffff;
}
.section--per-chi .section__title {
  font-size: 54px;
}
@media (max-width: 1279px) {
  .section--per-chi {
    padding-top: 44px;
    padding-bottom: 36px;
  }
  .section--per-chi .section__title,
  .section--per-chi .list__title {
    font-size: 46px;
    margin-bottom: 47px;
  }
  .section--per-chi .section__text,
  .section--per-chi .list__text {
    font-size: 20px;
    line-height: 24px; /* 120% */
  }
  .section--per-chi .section__icon,
  .section--per-chi .list__icon {
    width: 24px;
    height: 24px;
  }
  .section--per-chi .section__text {
    width: 100%;
  }
  .section--per-chi .list-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .section--per-chi .list--audience {
    flex: 1;
  }
  .section--per-chi .list--audience + .tablet {
    flex: 1;
  }
  .section--per-chi .list--audience + .tablet .book {
    position: relative;
    width: 100%;
    aspect-ratio: 460/511;
    top: -30px;
    padding-left: 5vw;
  }
  .section--per-chi .list--audience + .tablet .book img {
    position: absolute;
    height: 100%;
    width: auto;
    max-width: none;
    top: 0;
    bottom: 0;
  }
  .section--per-chi .cta {
    text-align: center;
    margin-top: -10px;
  }
}
@media (max-width: 767px) {
  .section--per-chi {
    padding-top: 48px;
    padding-bottom: 44px;
  }
  .section--per-chi .section__title {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 100% */
    margin-bottom: 39px;
  }
  .section--per-chi .list--audience {
    gap: 19px;
  }
  .section--per-chi .cta {
    margin-top: 39px;
    top: 0;
  }
  .section--per-chi .list--audience {
    flex: 1;
  }
  .section--per-chi .list--audience + .tablet {
    display: none !important;
  }
}
@media (max-width: 1279px) {
  .section--motivi .section__text,
  .section--motivi .list__text {
    font-size: 20px;
    line-height: 24px; /* 120% */
  }
}
@media (max-width: 1279px) {
  .section--motivi {
    padding-top: 46px;
    padding-bottom: 36px;
  }
  .section--motivi .list--reasons {
    gap: 25px;
  }
}
@media (max-width: 767px) {
  .section--motivi {
    padding-top: 41px;
    padding-bottom: 22px;
  }
  .section--motivi .section__title {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 100% */
    margin-bottom: 39px;
  }
  .section--motivi .list--reasons {
    gap: 19px;
  }
  .section--motivi .cta {
    margin-top: 39px;
  }
}
@media (max-width: 1279px) {
  .section--faq .section__text {
    font-size: 20px;
    line-height: 24px; /* 120% */
  }
}
@media (max-width: 1279px) {
  .section--faq {
    padding-top: 40px;
    padding-bottom: 16px;
  }
  .section--faq .faq__answer {
    font-size: 20px;
    line-height: 24px; /* 120% */
  }
}
@media (max-width: 767px) {
  .section--faq {
    padding-top: 32px;
    padding-bottom: 12px;
  }
  .section--faq .faq {
    gap: 25px;
  }
}
@media (max-width: 1279px) {
  .section--fianl .section__title {
    font-size: 46px;
  }
}
@media (max-width: 1279px) {
  .section--fianl .section__text {
    font-size: 20px;
    line-height: 24px; /* 120% */
  }
}

/* Assessment Component
   ========================================================================== */
.assessment__benefits {
  background: linear-gradient(135deg, #6c689b 0%, #4d668c 100%);
  color: #ffffff;
  border-radius: 21px;
  padding: 45px 30px 25px;
  margin-bottom: 39px;
}

.benefit-list {
  list-style-type: disc;
  padding-left: 20px;
}
.benefit-list__item {
  color: #ffffff;
  leading-trim: both;
  text-edge: cap;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 115.385% */
  padding-bottom: 20px;
}

/* List Component
   ========================================================================== */
.list--reasons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 47px;
  gap: 47px;
  position: relative;
  top: -15px;
}
@media (max-width: 767px) {
  .list--reasons {
    grid-template-columns: 1fr;
  }
}
.list--audience {
  display: flex;
  flex-direction: column;
  gap: 21px;
  position: relative;
  top: -2px;
}
.list__item {
  display: flex;
  gap: 9px;
  align-items: flex-start;
}
.list__icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.list__icon--dark {
  background-color: #092a4a;
}
.list__icon--orange {
  background-color: #ff8428;
}
.list__text {
  color: #092a4a;
  font-family: "Barlow Semi Condensed";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 107.692% */
}
@media (max-width: 767px) {
  .list__text {
    font-size: 1.25rem;
  }
}
.list__text--light {
  color: #ffffff;
}

/* Form Component
   ========================================================================== */
.form__group {
  display: flex;
  gap: 14px;
  margin-bottom: 10px;
}
.form__input {
  flex: 1;
  padding: 20px 28px;
  border-radius: 10px;
  background: #ffffff;
  color: #52668e;
  font-family: "Barlow Semi Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px; /* 105.556% */
  flex: 0 0 350px;
  width: 350px;
  max-width: calc(100% - 54px);
}
.form__input::placeholder {
  color: #52668e;
}
.form__submit {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: #ff8428;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: background-color 0.3s ease;
}
.form__submit:hover {
  background-color: #e67520;
}
.form__note {
  color: #ffffff;
  font-family: "Barlow Semi Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 105.556% */
}
.form__note--dark {
  color: #092a4a;
  text-align: center;
  font-family: "Barlow Semi Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
.form svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
.form svg--dark {
  fill: #092a4a;
}

@media (max-width: 767px) {
  .form__group {
    gap: 10px;
  }
  .form__input {
    font-size: 16px;
    padding: 7px 17px;
    border-radius: 7px;
  }
  .form__submit {
    width: 43px;
    height: 43px;
    border-radius: 7px;
  }
  .form__note {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 126.667% */
  }
}
/* Button Component
   ========================================================================== */
.button-group {
  display: flex;
  gap: 14px;
}
.button-group--center {
  justify-content: center;
}

.button {
  padding: 18px 34px;
  border-radius: 10px;
  font-family: "Barlow Semi Condensed";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 110% */
  text-transform: uppercase;
  gap: 17px;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
}
.button--with-icon {
  padding-right: 17px;
}
.button--icon {
  padding: 18px;
}
.button--primary {
  background-color: #ff8428;
  color: #ffffff;
}
.button--primary:hover {
  background-color: #e67520;
}
.button__icon {
  width: 20px;
  height: 20px;
}
@media (max-width: 767px) {
  .button {
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 10px;
  }
}

/* Feature Grid Component
   ========================================================================== */
.feature-grid {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

/* Feature Component
   ========================================================================== */
.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.feature__icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-top: 4px;
}
.feature__text {
  color: #092a4a;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px; /* 209.091% */
}
/* CTA Component
   ========================================================================== */
.cta {
  margin-top: 67px;
  position: relative;
  top: -14px;
}
.cta--center {
  text-align: center;
}
.cta__note {
  font-size: 18px;
  margin-top: 5px;
}
.cta__note--dark {
  color: #092a4a;
}
.cta__note--light {
  color: #ffffff;
}

/* FAQ Component
   ========================================================================== */
.faq {
  border-left: 4px solid #092a4a;
  padding-left: 24px;
  margin-bottom: 34px;
}
.faq__question {
  color: #092a4a;
  font-family: "Barlow Semi Condensed";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.faq__answer {
  color: #092a4a;
  color: #092a4a;
  font-family: "Barlow Semi Condensed";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.tablet {
  display: none !important;
}

@media (max-width: 1279px) {
  .desktop {
    display: none !important;
  }
  .tablet {
    display: block !important;
  }
}
@media (max-width: 1279px) {
  .wrapper {
    padding-top: 19px;
  }
  .section,
  .hero {
    padding-left: 40px;
    padding-right: 40px;
    max-width: calc(100% - 80px);
    margin-bottom: 21px;
  }
}
@media (max-width: 991px) {
  .section,
  .hero {
    max-width: calc(100% - 30px);
  }
}
@media (max-width: 767px) {
  .section,
  .hero {
    padding-left: 27px;
    padding-right: 27px;
    max-width: calc(100% - 20px);
  }
}